<h6 *ngIf="!libro; else divLibro">Cargando informción, por favor espere.</h6>

<ng-template #divLibro>
    <div class="row">
        <div class="col">
            <h1 class="mt-2">{{libro.nombre}}</h1>
            <h4>{{libro.autor}}</h4>
        </div>
        <div class="col">
            <h1 class="mt-4 calificacion">{{libro.calificacion}}/5⭐</h1>
        </div>

    </div>
    <hr>
    <div>
        <ul>
            <li>Inicio de lectura: <strong>{{libro.fecha_inicio}}</strong></li>
            <li>Fin de lectura: <strong>{{libro.fecha_fin}}</strong></li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Personaje favorito: </strong>{{libro.personaje_favorito}}
            </li>
            <li class="list-group-item">
                <strong>Frases a destacar: </strong>{{libro.frases_destacadas}}
            </li>
            <li class="list-group-item">
                <strong>Descripción: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nobis cum, repellat eligendi
                minima quasi voluptate dignissimos vel quo unde et esse consectetur sint repellendus sit? Delectus
                laudantium sit odit.
            </li>

        </ul>


    </div>
</ng-template>